body {
  margin: 0;
  background-color: rgb(255, 212, 219);
  color: rgb(90, 90, 90);
}

.header--container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(253, 253, 253);
  border-bottom: 3px solid rgb(243, 180, 190);
  padding: 0.75rem;
}

.header--container>img {
  height: 112px;
  border-radius: 20%;
}

#page--navigation {
  display: flex;
  gap: 0.75rem;
}

#page--navigation>button {
  height: 5rem;
  width: 8rem;
  font-size: 2rem;
  border: none;
  background-color: rgb(255, 212, 219);
  box-shadow: 2px 1px 1px 1px rgb(243, 180, 190);
  cursor: pointer;
}

#page--navigation>button:hover {
  background-color: rgb(243, 180, 190);
}
